<?xml version="1.0" encoding="utf-8"?>

<configuration>
	
	<appSettings>
		<!-- JWT SECRET KEY -->
		<add key="ChatSecret"
			 value="4ikhszs0snr7n96dxj5qqxhy2uhb3r3q" />
	</appSettings>
	
	<connectionStrings>
		<add name="MyDbConn"
			 connectionString="Server=localhost;Database=sales_tracking_db;Uid=root;Pwd=;"
			 providerName="MySql.Data.MySqlClient" />
	</connectionStrings>



	<system.web>

		<!-- Enable debugging -->
		<compilation debug="true" targetFramework="4.8" />

		<!-- HTTP Runtime -->
		<httpRuntime targetFramework="4.8" />

		<!-- Optional but recommended -->
		<pages controlRenderingCompatibilityVersion="4.0"
			   clientIDMode="AutoID" />

	</system.web>

	<!-- MySQL Provider -->
	<system.data>
		<DbProviderFactories>
			<remove invariant="MySql.Data.MySqlClient" />
			<add name="MySQL Data Provider"
				 invariant="MySql.Data.MySqlClient"
				 description=".Net Framework Data Provider for MySQL"
				 type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
		</DbProviderFactories>
	</system.data>

</configuration>