.notif-list {
    margin: 10px;
}

.notif-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

    .notif-modal.active {
        display: flex !important;
    }

.notif-content {
    background: white;
    width: 90%;
    max-width: 400px;
    border-radius: 15px;
    overflow: hidden;
}

.notif-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: var(--primary);
    color: white;
}

#closeNotif {
    background: none;
    border: none;
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
}

.close-btn {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--text);
    padding: 0;
    width: 32px;
    height: 32px;
}

@media (max-width: 768px) {
    .close-btn {
        display: block;
    }
}

